@import "h5bp";
@import "compass";
@import "_responsive_layout";

@include h5bp-normalize;
@include h5bp-base-styles;
@include h5bp-helpers;
@include h5bp-media;


/* ==========================================================================
   SASS variables
   ========================================================================== */
$body_fonts: "ff-meta-web-pro", sans-serif;
$title_fonts: "proxima-nova",sans-serif;

$color_body: #fff;
$color_font: #333;
$color_bc: #3b454f;
$color_bc_r: #22aeeb;
$color_bc_p: #e24b70;


$anim_dur_in: 0.3s;
$anim_dur_out: 0.6s;

/* ==========================================================================
   Custom SASS mixins
   ========================================================================== */

@mixin line-overlay($z-index: 99) {
  &:after {
    background: rgba(10,10,10,0.10) url(../gfx/stripe.png);
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: $z-index;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
} 

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: $title_fonts;
}

a {
  @include transition(all $anim_dur_out);
  &:hover {
    @include transition(all $anim_dur_in);
  }
  &:active {
   // @include transform(scale(0.96) rotateX(10deg));
    //@include transform-style(preserve-3d);
  }
}

body {
  font-family: $body_fonts;
  line-height: 1.5;
  background-color: $color_body;
  color: $color_font;
}

#topbar {
  margin-bottom: 1.2em; 
  overflow: hidden;
  background-color: $color_bc;
  .lang_menu {
    margin: 0em 2em;
    float: right;
    list-style: none;
    li {
      float: left;
      margin: 0 0 0 1.4em;
      a {
        display: block;
        height: 100%;
        color: #fff;
        font-size: 0.9em;
        font-weight: 300;
        padding: 0.1em 0.8em 0.2em;
        text-decoration: none;
        vertical-align: middle;
        &.active, &:hover {
          background-color: lighten($color_bc, 20%);
        }
      }
    }
  }
}

.header-container {
  margin-bottom: 1em;
  padding: 0.4em 0;
  height: 5.4em;
  .main_logo {
    height: 100%;
    padding: 0.498em 0;
    float: left;
  }
  .main_menu {
    float: right;
    ul {
      height: 100%;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 0 0 0.6em;
        a {
          color: #111;          
          text-decoration: none;
          font-family: $title_fonts;
          font-size: 1.2em;
          padding: 0.4em 0.8em;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
  &.floating {
    top: 0;
    opacity: 0;
    height: 4.4em;
    display: none;
    &.shown {
      opacity: 1;
      display: block;
      @include transition(opacity 0.5s);
    }
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    background-color: $color_bc;
    z-index: 99;
    @include transition(opacity 0.2s);
    .main_menu {      
      ul {        
        li {          
          a {
            color: #fff;
          }
        }
      }
    }  
  }  
}

.section_title {
  margin: 0 0 1em;
}

.normal_text {
  font-size: 1.2em;
}

.welcome, .map {
  @include line-overlay(4);
}


.parallax_wrapper {
  height: 600px;
  overflow: hidden;
  position: relative;
}

.main_slogan {
  width: 80%;
  margin: -6% -40%;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,0.2);
  text-align: center;
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  font-family: "katarine-web", sans-serif;
  font-style: italic;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  -webkit-transform: translate3d(0,0,0);
}

.link_buttons {
  padding: 0;
  @include clearfix;
  li {
    display: inline-block;    
    height: 8em;
    margin: 0;
    padding: 0;
    float: left;    
    a {
      text-indent: -9999px;
      text-align: center;
      text-decoration: none;
      font-size: 2em;
      font-family: $title_fonts;
      color: #fff;
      display: block;
      width: 100%;
      height: 100%;
      @include background-size(150px);
      &:hover {
        opacity: 0.8;
      }
    }
    &.pixels {
      width: 50%;
      a {
        background: $color_bc_p url(../gfx/logo_bc-pixels_invert.png) 50% 50% no-repeat;      
      }
    }
    &.rockets {
      width: 50%;
      a {
        background: $color_bc_r url(../gfx/logo_bc-rockets_invert.png) 50% 50% no-repeat;      
      }
    }
    &.jobs {
      width: 100%;
      height: 6em;
      a {
        background: $color_bc url(../gfx/logo_bc-jobs_invert.png) 50% 50% no-repeat;      
      }
    }
  }
}

.panel {
  float: left;
  width: 25%;
  height: 150px;
  position: relative;
  font-size: .8em;
  @include perspective(600px);
  cursor: pointer;
  margin-bottom: 10px;
  .side {
    float: none;
    position: absolute;
    top: 0;
    left: 0;    
    width: 96%;
    height: 100%;
    background-position: center center;
    @include transform(rotateX(0deg) rotateY(0deg));
    @include transform-style(preserve-3d);
    @include background-size(cover);
    @include backface-visibility(hidden);
    @include transition(all $anim_dur_out);    
    &.front {
      z-index: 900;
    }
    &.back {
      z-index: 800;
      @include transform(rotateY(-180deg));
      .pad {    
        position: absolute;
        bottom: 4px;
        background-color: #fff;
        padding: 4px 8px 4px 0;
        h2 {
          padding: 0 0 2px;  
          font-size: 14px;
          line-height: 14px;
          margin: 0;
        }  
        h3 {
          padding: 0;
          font-size: 12px;
          line-height: 12px;
          margin: 0;
        }
      }
    }
  }
  &.flip {
    .front {
      z-index: 900;
      @include transform(rotateY(180deg));
    }
    .back {
      z-index: 1000;
      @include transform(rotateX(0deg) rotateY(0deg));
    }
  }
}  


/* ==========================================================================
   Media Queries
   ========================================================================== */