@import "zen";

$zen-column-count: 7;
$zen-gutter-width: 2em;

$legacy-support-for-ie7: false;
$legacy-support-for-ie6: false;
$zen-auto-include-item-base: false;

.main-container {
  @include zen-grid-container;
  @include clearfix;
  max-width: 1420px;
  margin: 0 auto;
  width: 94%;
}

.content_section {
  margin-top: 4em;
}


.main {
  @include zen-grid-item-base();
  @include zen-grid-item(5, 1);
}
.main_full {
  @include zen-grid-item-base();
  @include zen-grid-item(7, 1);
}

aside {
  @include zen-grid-item-base();
  @include zen-grid-item(2, 6);
}