  <!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<!-- Thanks for the great device vectors: Illustration Copyright by Emanuele Michelucci / addSoul design studio / www.vectorized.it /  -->
  <head>
    <meta charset="utf-8">
    <title>[[++site_name]] ● [[*pagetitle]]</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <base href="[[++base_url]]" />  
    <link rel="stylesheet" href="[[++assets_url]]css/style.css">
    <script src="[[++assets_url]]js/libs/modernizr-2.5.3.min.js"></script>
    <script type="text/javascript" src="http://use.typekit.com/thm5lui.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <style type="text/css">
      .home_link {
        padding-right: 6px;
      }
      .single_project_title {
        font-size: 30px;
        margin: 40px 0 50px;
      }
      .wallpaper {
        height: 500px;
      }
      #slide_wrapper .project_meta {
        bottom: auto;
      }
      .project_nav {
        display: none;
      }
    </style>
  </head>
  <body>
    <section class="container"> 
      <section class="span_24 clr">
        <a class="left home_link single_project_title" href="[[++base_url]]">Home</a><h2 class="single_project_title left">/ [[*pagetitle]] ● [[*longtitle]]</h2>
      </section>
      <section class="span_24 clr" id="slide_wrapper">
        <input type="hidden" id="project_title" value="[[*pagetitle]]" />        
        <div class="container">
          <div class="project_meta">
            <h3 class="project_title left">[[*longtitle]]</h3>
            <div class="project_nav right">
              <div class="right close link ss-icon">close</div>
              <div class="right arrow next_proj link ss-icon no_mobile">navigateup</div>
              <div class="right arrow prev_proj link ss-icon no_mobile">navigatedown</div>
              <span class="no_mobile"><div class="right label ">Project <span class="cur_proj"></span>/<span class="count_proj"></span></div></span>
            </div>
            <div class="clear"></div>      
          </div>
        </div>  
        <div class="wmuSlider">        
          <div class="wmuSliderWrapper">
            [[!getResources:default=`nothing here`? &parents=`[[*id]]` &sortby=`menuindex` &sortdir=`ASC` &tpl=`projectWallpaper` &tpl_1=`projectOverview` &includeContent=`1` &limit=`6`]]
          </div>        
        </div>
        <div class="container clr"></div>
      </section>
    </section>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <script>
      window.jQuery || document.write('<script src="[[++assets_url]]js/libs/jquery-ui-1.8.23.custom.min.js"><\/script>');
      window.jQuery || document.write('<script src="[[++assets_url]]js/libs/jquery-1.8.2.min.js"><\/script>');
      $(document).ready(function () {
        var location, project, newPathname, pathArray, new_url;
        location = window.location;
        pathArray = window.location.pathname.split( '/' );
        project = pathArray[pathArray.length - 2];

        newPathname = "";
        for ( i = 0; i < pathArray.length - 3; i++ ) {          
          newPathname += pathArray[i];
          newPathname += "/";
        }
        new_url = '//' + location.host + newPathname + '#show=projects/' + project + '/';
        window.location.replace(new_url);
      });
    </script>
    <script>
      var _gaq=[ ['_setAccount','UA-3905566-8'],['_trackPageview'] ];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>  